<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>수정 페이지</title>
</head>
<body>
<div align="center">
    <h2>수정 폼</h2>
    <hr>

    <table border="1">
        <tr>
            <th>작성자</th>
            <td><%=record.writer%></td>
        </tr>
        <tr>
            <th>제목</th>
            <td><%=record.title%></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><%=record.body%></td>
        </tr>
        <tr>
            <td colspan="2">
                <%if(login == record.writer) {%>
                <a href = "/">[목록]</a>
                <a href="/board/update/<%=record.id%>">[게시글 수정]</a>
                <%} else {%>
                    <a href = "/">[목록]</a>
                <%}%>
            </td>
        </tr>
    </table>

</div>
</body>
</html>