<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>
</head>
<body>
<div align="center">
    <h2> 글작성 폼</h2>
    <hr>
    <form action = "/board/write" method="post">
        제목 : <br>
        <input type = "text" name = "title">
        <p></p>
        내용 : <br>
        <textarea rows="5" cols="50" name = "body"></textarea>
        <p></p>
        <input type = "submit" value="새 글 등록">

    </form>
</div>
</body>
</html>